.addition {
    margin: 40px 0px;
    padding: 40px;
    background-color: rgb(184, 16, 16);
    font-size: 25px;
    font-style: italic;
    color: white;
    
}

.subtraction {
    margin: 40px 0px;
    padding: 40px;
    background-color: rgb(145, 55, 235);
    font-size: 25px;
    font-style: italic;
    color: darkred;
}

.multiplication {
    margin: 40px 0px;
    padding: 40px;
    background-color: rgb(233, 114, 75);
    font-size: 25px;
    font-style: italic;
    color: black;
}